<ejs-appbar colorMode="Primary">
    <ejs-menu #defaultMenuCompany cssClass="e-inherit" [items]='companyMenuItems' (select)="onMenuItemSelect($event)"></ejs-menu>
    <ejs-menu #defaultMenuProducts cssClass="e-inherit" [items]='productMenuItems' (select)="onMenuItemSelect($event)"></ejs-menu>
    <ejs-menu #defaultMenuAbout cssClass="e-inherit" [items]='aboutMenuItems' (select)="onMenuItemSelect($event)"></ejs-menu>
    <ejs-menu #defaultMenuCarrers cssClass="e-inherit" [items]='carrerMenuItems' (select)="onMenuItemSelect($event)"></ejs-menu>
</ejs-appbar>
<router-outlet></router-outlet>